@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,400&display=swap');
@import "../../styles/componentStyles/mixins";

.light{
    color:#111517;
}

.dark{
    color: #ffffff;
    background:  #202C36;
    box-shadow: 0px 0px 7px  rgb(36, 35, 35);  
}

    .CountryPage{
        @include heights--margins(100vh , 100% , auto , auto , none , 0px ) ;
        box-shadow: none;
        .back {
            @include heights--margins(40px , 120px , 30px , 4% , none, none);
            @include flex(flex , none , center , center, none);
            font-size: 20px;
            font-family: 'Nunito Sans', sans-serif;
            .backText{
                box-shadow: none;
            }
            .arrowHead{
                font-weight: 600;
                box-shadow: none;
            }
            .arrowTail{
                font-weight: 600;
                width: 24px;
                margin-top: 2px;
                border-bottom: 2px solid ;
                margin-left: -10px;
                margin-right: 10px;
            }

        }

        .loading{
            min-height: 100vh;
        }
    }

  

   

    


    

