@import "../../styles/componentStyles/mixins";
.light{
    color: #2B3844;
}

.dark{
    color: rgb(253, 252, 252);
    background: #202C36;
}
.main{
    min-height: calc(100vh - 90px) ;
    width:  100%;
    padding: 0% 5%;
    margin: auto;

    .countries{
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr ; 
        grid-gap: 30px;
    }
}

@include media(950px){
    .main{
        .countries{
            
            grid-template-columns: 1fr 1fr 1fr; 
        }

    }
}
@include media(750px){
    .main{
        .countries{
            width: 90%;
            grid-template-columns:  1fr 1fr; 
        }

    }
}



@include media(500px){
    .main{
        .countries{
            grid-template-columns: 1fr ; 
            width: 82%;
        }  
    }
}

// @import "./Input";
// @import "./countryItem";
